{{ template "chezmoiexternal.d/common.yaml.tmpl" . }}
{{ if eq .chezmoi.os "darwin" -}}
{{   template "chezmoiexternal.d/macos.yaml.tmpl" . }}
{{ else -}}
{{   template "chezmoiexternal.d/ubuntu.yaml.tmpl" . }}
{{ end -}}